Action application/x-pair-sphp53 /cgi-sys/php-cgiwrap/lmark/php53.cgi/users/
AddType application/x-pair-sphp53 .php .phtml


#Action application/x-httpd-php53 /cgi-bin/php53.cgi
#AddType application/x-httpd-php53 .php .phtml



